<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<button class="btn btn-outline-danger" type="button"><%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %></button>
<button class="btn btn-outline-info" type="button"><%= link_to "back to list", articles_path %></button>
<button class="btn btn-outline-success" type="button">
<%= link_to "edit article", edit_article_path(@article) %></button>
